= simple_form_for @service, :url => services_path, :method => :post do |f|
  .form-group.row
    .col-sm-6.offset-sm-1
      = f.input :type, {type: 'text'}
      = f.input :name, {label: 'Alias', class: 'form-control', required: true, type: 'text'}
      = f.input :nin, {label: 'National Identity Number', class: 'form-control', required: true, type: 'text'}
      = f.input :client_id, {label: 'Client ID', required: true}
      = f.input :secret, {label: 'Secret', required: true}
      %button.btn.btn-primary{type: 'submit'} Register
      = link_to 'Cancel', :back, {class: 'btn btn-outline-secondary'}