.row.mb-3
  .col-xl-3.col-sm-6.py-2
    .card.text-white.bg-primary.h-100
      .card-body.bg-primary
        %h6.text-uppercase
          - if current_user.last_synced_at.blank?
            Never synced
          - else
            = "#{time_ago_in_words(current_user.last_synced_at)} ago"
        %br
        = link_to 'Sync now', sync_path, {method: :post, class: 'btn btn-light', style: 'color:black'}

  .col-xl-3.col-sm-6.py-2
    .card.bg-success.text-white.h-100
      .card-body.bg-success
        %h6.text-uppercase
          = link_to 'YNAB Budgets', budgets_path, {style: 'color:white'}
        %h1.display-4
          = current_user.budgets.count

  .col-xl-3.col-sm-6.py-2
    .card.text-white.bg-info.h-100
      .card-body.bg-info
        %h6.text-uppercase
          = link_to 'Bank sources', sources_path, {style: 'color:white'}
        %h1.display-4
          = current_user.sources.count

.row.my-4
  .col-sm-6.offset-sm-1
    - if @accounts.count > 0
      .table-responsive
        %table.table.table-striped
          %thead.thead-inverse
            %tr
              %th
                Linked accounts
          %tbody
            - @accounts.each do |account|
              %tr
                %td
                  = link_to account.name, budget_account_path(account.budget, account)