!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title YNAB Sync
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{:content => "A Bootstrap 4 admin dashboard theme that will get you started. The sidebar toggles off-canvas on smaller screens. This example also include large stat blocks, modal and cards. The top navbar is controlled by a separate hamburger toggle button.", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "Codeply", :name => "generator"}/
  %body
    %nav.navbar.fixed-top.navbar-expand-md.navbar-dark.bg-primary.mb-3
      .flex-row.d-flex
        %button.navbar-toggler.mr-2{"data-toggle" => "offcanvas", :title => "Toggle responsive left sidebar", :type => "button"}
          %span.navbar-toggler-icon
        %a.navbar-brand{:href => root_path, :title => "Free Bootstrap 4 Admin Template"} YNAB Sync
      %button.navbar-toggler{"data-target" => "#collapsingNavbar", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #collapsingNavbar.navbar-collapse.collapse
        - if user_signed_in?
          %ul.navbar-nav.ml-auto
            %li
              .nav-link
                YNAB API Rate Limit:
                = ynab_rate_limit

            %li.nav-item
              = link_to current_user.email, setup_path, {class: 'nav-link'}
            %li.nav-item
              = link_to destroy_user_session_path, {method: 'delete', class: 'nav-link'} do
                Logout
    #main.container-fluid
      .row.row-offcanvas.row-offcanvas-left
        #sidebar.col-md-1.col-lg-1.sidebar-offcanvas.bg-light.pl-0{:role => "navigation"}
          - if user_signed_in?
            %ul.nav.flex-column.sticky-top.pl-0.pt-5.mt-3
              %li.nav-item
                = link_to 'Setup', setup_path, {class: 'nav-link'}
        .col.main.pt-5.mt-3

          - flash.each do |key, value|
            %div{:class => "#{flash_class(key)}"}
              = value

          = render partial: 'breadcrumbs'

          = yield
